## SQL DATA TYPES

**SQL Data Types** define the type of data that can be stored in a column of a database table. They help ensure data integrity, optimize storage, and provide meaning to the data stored in the database. SQL data types can be broadly categorized into the following groups:



| Data Type           | Description                                                | Example                   |
|---------------------|------------------------------------------------------------|---------------------------|
| INT or INTEGER      | Integer (whole number) data type                          | 42, -1000, 0              |
| FLOAT or REAL       | Floating-point number data type                            | 3.14, -0.5, 123.456       |
| CHAR(n)             | Fixed-length character string                             | 'Hello', 'A'              |
| VARCHAR(n)         | Variable-length character string                          | 'John Doe', 'OpenAI'      |
| TEXT                | Variable-length character string (large)                  | 'Lorem ipsum...', 'Notes' |
| DATE                | Date in the format YYYY-MM-DD                             | '2023-05-21', '1987-10-15' |
| TIME                | Time in the format HH:MM:SS                               | '12:30:45', '18:15:00'    |
| DATETIME or TIMESTAMP | Date and time in the format YYYY-MM-DD HH:MM:SS          | '2023-05-21 12:30:45'     |
| BOOLEAN or BOOL     | Boolean (true/false) value                                 | TRUE, FALSE               |

Note: The "n" in CHAR(n) and VARCHAR(n) represents the maximum length of the string, and "p" and "s" in DECIMAL(p, s) represent precision and scale, respectively.

Different database systems might have additional or slightly different data types, but the ones listed above are widely supported in most SQL database systems. The choice of data type depends on the nature of the data you want to store and the specific requirements of your application.

1. **Numeric Data Types:**
   - `INTEGER` or `INT`: Used to store whole numbers, typically with a range from -2,147,483,648 to 2,147,483,647 (32-bit signed).
   - `SMALLINT`: Similar to `INTEGER`, but with a smaller range of -32,768 to 32,767 (16-bit signed).
   - `BIGINT`: Used to store larger whole numbers with a range from -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807 (64-bit signed).
   - `NUMERIC` or `DECIMAL`: Used to store fixed-point numbers with precise decimal digits, like monetary values. The precision and scale can be specified.
   - `REAL` or `FLOAT`: Used to store approximate floating-point numbers with a single-precision.
   - `DOUBLE PRECISION`: Used to store approximate floating-point numbers with a double-precision.
   
``` sql

CREATE TABLE employees (
    emp_id INT,
    salary DECIMAL(10, 2),
    rating FLOAT
);
```

2. **Character and String Data Types:**
   - `CHAR(n)`: Fixed-length character string with a maximum length of `n` characters.
   - `VARCHAR(n)`: Variable-length character string with a maximum length of `n` characters.
   - `TEXT`: Used to store large amounts of character data, without a predefined length limit.

```sql
CREATE TABLE customers (
    customer_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    address TEXT
);
```


3. **Date and Time Data Types:**
   - `DATE`: Used to store a date (year, month, and day) in the format 'YYYY-MM-DD'.
   - `TIME`: Used to store a time of day (hours, minutes, seconds) in the format 'HH:MI:SS'.
   - `TIMESTAMP`: Used to store both date and time information in the format 'YYYY-MM-DD HH:MI:SS'.
   - `INTERVAL`: Used to store a period of time or duration, such as days, hours, minutes, etc.
   
```sql
CREATE TABLE orders (
    order_id INT,
    order_date DATE,
    order_time TIME,
    order_datetime DATETIME
);
```


4. **Boolean Data Type:**
   - `BOOLEAN`: Used to store true/false values. In some databases, `BIT` is also used to represent binary data.

```sql
CREATE TABLE tasks (
    task_id INT,
    task_name VARCHAR(100),
    is_completed BOOLEAN
);
```


5. **Binary Data Types:**
   - `BLOB`: Used to store large binary objects like images, audio, or video files.
   - `BYTEA`: Used to store binary data in PostgreSQL.
   - `BINARY(n)`: Fixed-length binary string with a maximum length of `n` bytes.
   - `VARBINARY(n)`: Variable-length binary string with a maximum length of `n` bytes.

```sql
CREATE TABLE documents (
    doc_id INT,
    doc_name VARCHAR(100),
    doc_content BLOB
);
```


6. **Enumerated Data Types:**
   - `ENUM`: Used to store one value from a predefined list of values.

```sql
CREATE TABLE products (
    product_id INT,
    product_name VARCHAR(100),
    product_category ENUM('Electronics', 'Clothing', 'Books')
);
```


7. **Other Data Types:**
   - `ARRAY`: Used to store an array of values of the same data type.
   - `JSON` or `JSONB`: Used to store JSON (JavaScript Object Notation) data.
   - `UUID`: Used to store universally unique identifiers.
   
``` sql
CREATE TABLE products (
    product_id INT,
    product_name VARCHAR(100),
    product_category ENUM('Electronics', 'Clothing', 'Books'),
    product_details JSON
);
```

Each database management system (DBMS) may support additional data types or have variations in their implementation. It is essential to refer to the specific documentation of the DBMS you are using for detailed information about data types and their usage. Properly choosing and utilizing the appropriate data types for your database tables ensures efficient storage and retrieval of data, promotes data consistency, and maintains data integrity.

### Table for queries:

orders:

```sql
CREATE TABLE orders (
    id INT AUTO_INCREMENT PRIMARY KEY,
    order_date DATE,
    delivery_date DATE
);

INSERT INTO orders (order_date, delivery_date)
VALUES
('2023-05-21', '2023-05-28'),  -- Order 1
('2023-04-15', '2023-04-22'),  -- Order 2
('2023-03-10', '2023-03-17');  -- Order 3
```

tasks:


```sql
CREATE TABLE tasks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    start_time TIMESTAMP,
    end_time TIMESTAMP
);

INSERT INTO tasks (start_time, end_time)
VALUES
('2023-05-21 08:00:00', '2023-05-21 12:00:00'),  -- Task 1
('2023-04-15 09:30:00', '2023-04-15 11:00:00'),  -- Task 2
('2023-03-10 14:00:00', '2023-03-10 15:30:00');  -- Task 3
```

### SQL DATE/ DATE-TIME FORMAT

In SQL, date formats are used to represent and manipulate dates and times in a human-readable format. The most commonly used SQL date format is the ISO 8601 format, which is in the format 'YYYY-MM-DD' for dates and 'YYYY-MM-DD HH:MI:SS' for date and time. However, SQL provides various date functions and formatting options to convert dates to different formats as needed. Here are some important SQL date formats and functions:

1. **ISO 8601 Format:**
   - Date Format: 'YYYY-MM-DD' (e.g., '2023-05-21')
   - DateTime Format: 'YYYY-MM-DD HH:MI:SS' (e.g., '2023-05-21 09:30:15')

2. **Formatting Dates using DATE_FORMAT:**
   The DATE_FORMAT function is used to format dates into custom representations. It takes two arguments: the date column or value and the format string.

   Example:
   ```sql
   SELECT DATE_FORMAT(order_date, '%d-%b-%Y') AS formatted_date
   FROM orders;

   ```
   Output: '21-May-2023'

3. **Extracting Date Components using EXTRACT:**
   The DATE_PART function is used to extract specific components (e.g., year, month, day) from a date or timestamp.

   Example:
   ```sql
   SELECT EXTRACT(YEAR FROM order_date) AS order_year,
       EXTRACT(MONTH FROM order_date) AS order_month,
       EXTRACT(DAY FROM order_date) AS order_day
   FROM orders;

   ```
   Output:
   
   | order_year | order_month | order_day |
   |------------|-------------|-----------|
   | 2023       | 5           | 21        |
   

4. **Date Arithmetic:**
   SQL allows performing arithmetic operations on dates using addition or subtraction. For example, you can calculate the difference between two dates or add/subtract days, months, or years from a date.

   Example:
   ```sql
    SELECT order_date,
           DATE_ADD(order_date, INTERVAL 7 DAY) AS future_date,
           DATE_SUB(order_date, INTERVAL 1 MONTH) AS past_date
    FROM orders;
   ```
   Output:
   | order_date | future_date | past_date  |
   |------------|-------------|------------|
   | 2023-05-21 | 2023-05-28  | 2023-04-21 |
   

These are some of the common SQL date formats and functions that allow you to work with dates and times effectively in SQL queries. The specific functions and formats available may vary depending on the SQL database management system you are using (e.g., PostgreSQL, MySQL, SQL Server). Always refer to the documentation of your specific database system for the complete list of date functions and supported formats.


Furthermore, in SQL, various functions and operators are available to work with date and time data. These functions and operators allow you to manipulate, format, and perform calculations on dates and times. Here are the essential functions and operators for date formats in SQL:

1. **CURRENT_DATE:**
   - Returns the current date (excluding time) in the format 'YYYY-MM-DD'.
   ```sql
   SELECT CURRENT_DATE;
   ```

2. **CURRENT_TIMESTAMP or NOW():**
   - Returns the current date and time in the format 'YYYY-MM-DD HH:MI:SS'.
   ```sql
   SELECT CURRENT_TIMESTAMP;
   ```

3. **DATE_ADD and DATE_SUB:**
   - Used to add or subtract a specific interval (e.g., days, months, years) to/from a date.
   ```sql
   SELECT order_date,
          DATE_ADD(order_date, INTERVAL 7 DAY) AS future_date,
          DATE_SUB(order_date, INTERVAL 1 MONTH) AS past_date
   FROM orders;
   ```

4. **DATEDIFF or DATE_PART:**
   - Calculates the difference between two dates or timestamps.
   ```sql
   SELECT DATEDIFF(delivery_date, order_date) AS days_to_delivery
   FROM orders;

   ```

5. **TIMESTAMPDIFF:**
   - Calculates the difference between two timestamps based on a specific unit (e.g., day, hour, minute).
   ```sql
   SELECT TIMESTAMPDIFF(HOUR, start_time, end_time) AS hours_elapsed
   FROM tasks;
   ```


These are some of the essential functions and operators used for date formats in SQL. The exact set of functions and operators available may vary depending on the SQL database management system you are using. Always refer to the documentation of your specific database system for the complete list of date functions and supported formats.

# Theory Questions:

1. What is the purpose of SQL data types?

2. Differentiate between the INT and VARCHAR data types.

3. What's the difference between the CHAR and VARCHAR data types?

4. Which data type would you use to store a true/false value in SQL?

5. Explain the significance of the NUMERIC data type in SQL.

6. Describe the key differences between the FLOAT and DECIMAL data types.

7. When would you use the TEXT data type instead of VARCHAR for storing text data?

8. When would you use the TEXT data type instead of VARCHAR for storing text data?

9. What is the ENUM data type in SQL, and when might you use it?

10. How can you store large binary data such as images or documents in a database?

11. Explain the benefits of using the DATE and TIME data types instead of storing dates and times as strings.